app-title-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

app-navigation-menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000;
}

::ng-deep .warning{
    color:white
 }