<div class="card-holder">
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Add a Class</mat-card-title>
  </mat-card-header>
  <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject" placeholder="Subject" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input
        matInput
        formControlName="number"
        type="number"
        placeholder="Number"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Professor</mat-label>
      <mat-select formControlName="professor" placeholder="Professor">
        <mat-option *ngFor="let professor of professors" [value]="professor">{{
          professor
        }}</mat-option>
        <mat-option>
          <button mat-flat-button class="add-button" color="accent" (click)="addProfClick()"><mat-icon>add</mat-icon>Add Professor</button>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Semester</mat-label>
      <mat-select formControlName="semester" placeholder="Semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester">{{
          semester
        }}</mat-option>
        <mat-option>
          <button mat-flat-button class="add-button" color="accent" (click)="addSemClick()"><mat-icon>add</mat-icon>Add Semester</button>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Hours</mat-label>
      <input
        matInput
        formControlName="hours"
        type="number"
        placeholder="Hours"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Class Name</mat-label>
      <input
        matInput
        formControlName="classDesc"
        placeholder="Class Description"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade" placeholder="Grade">
        <mat-option value="A+">A+</mat-option>
        <mat-option value="A">A</mat-option>
        <mat-option value="A-">A-</mat-option>
        <mat-option value="B+">B+</mat-option>
        <mat-option value="B">B</mat-option>
        <mat-option value="B-">B-</mat-option>
        <mat-option value="C+">C+</mat-option>
        <mat-option value="C">C</mat-option>
        <mat-option value="F">F</mat-option>
        <mat-option value="I">I</mat-option>
        <mat-option value="P">P</mat-option>
      </mat-select>
    </mat-form-field>
    
    

    <button mat-raised-button type="submit" color="primary" class="submit-button">Submit</button>
  </form>
</mat-card>
</div>