.text {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    float: left;
  }
  
  .topBar {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    display: flex;
    align-items: center; /* Vertical centering */
    padding: 10px;
    height: 70px;
    box-shadow: 0 5px 25px lightgrey;
  }
  
  .side-button {
    display: flex;
    align-items: center;
    padding-left: 0.5vw;
  }
  
  .side-button button {
    display: flex;
    align-items: center;
  }
  
  .side-button mat-icon {
    margin: 0 auto;
  }