<table
  mat-table
  [dataSource]="enrollmentData"
  class="class-table"
  *ngIf="this.hasEnrollments"
>
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>Number</th>
    <td mat-cell *matCellDef="let element">{{ element.number }}</td>
  </ng-container>

  <ng-container matColumnDef="class_desc">
    <th mat-header-cell *matHeaderCellDef>Class Description</th>
    <td mat-cell *matCellDef="let element">{{ element.class_desc }}</td>
  </ng-container>

  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef>Grade</th>
    <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
  </ng-container>

  <ng-container matColumnDef="professor_last_name">
    <th mat-header-cell *matHeaderCellDef>Professor</th>
    <td mat-cell *matCellDef="let element">
      {{ element.professor_last_name }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="!this.hasEnrollments" class="no-data">
  <h1>User has no classes</h1>
</div>
